<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>image   | Amaze UI Examples</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="homes/assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="homes/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="homes/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="homes/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="homes/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="homes/assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">

</header>
<!-- header end -->


<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="lw-index.html">首页</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          首页布局 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="lw-index.html">1. blog-index-standard</a></li>         
          <li><a href="lw-index-nosidebar.html">2. blog-index-nosidebar</a></li>
          <li><a href="lw-index-center.html">3. blog-index-layout</a></li>
          <li><a href="lw-index-noslider.html">4. blog-index-noslider</a></li>
        </ul>
      </li>
      <li><a href="lw-article.html">标准文章</a></li>
      <li><a href="lw-img.html">图片库</a></li>
      <li><a href="lw-article-fullwidth.html">全宽页面</a></li>
      <li><a href="lw-timeline.html">存档</a></li>
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>
  </div>
</nav>
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
      <div id="container">          
          <div><img src="homes/images/01.jpg"><h3>Agfa</h3></div>
          <div><img src="homes/images/02.jpg"><h3>Auto</h3></div>
          <div><img src="homes/images/03.jpg"><h3>Bald eagle</h3></div>
          <div><img src="homes/images/04.jpg"><h3>Black swan</h3></div>
          <div><img src="homes/images/05.jpg"><h3>Book shelf</h3></div>
          <div><img src="homes/images/06.jpg"><h3>Camera</h3></div>
          <div><img src="homes/images/07.jpg"><h3>Camera</h3></div>
          <div><img src="homes/images/25.jpg"><h3>Vintage camera</h3></div>
          <div><img src="homes/images/09.jpg"><h3>Coffee</h3></div>
          <div><img src="homes/images/10.jpg"><h3>Cookies</h3></div>
          <div><img src="homes/images/11.jpg"><h3>Cubes</h3></div>
          <div><img src="homes/images/12.jpg"><h3>DJ</h3></div>
          <div><img src="homes/images/13.jpg"><h3>Doors</h3></div>
          <div><img src="homes/images/14.jpg"><h3>Matchbox</h3></div>
          <div><img src="homes/images/15.jpg"><h3>Freiburg</h3></div>
          <div><img src="homes/images/16.jpg"><h3>Henna</h3></div>
          <div><img src="homes/images/17.jpg"><h3>Home office</h3></div>
          <div><img src="homes/images/18.jpg"><h3>iPad</h3></div>
          <div><img src="homes/images/19.jpg"><h3>Keyboard</h3></div>
          <div><img src="homes/images/20.jpg"><h3>Lynx</h3></div>
          <div><img src="homes/images/21.jpg"><h3>Mac</h3></div>
          <div><img src="homes/images/22.jpg"><h3>Notebook</h3></div>
          <div><img src="homes/images/23.jpg"><h3>Thoughts</h3></div>
          <div><img src="homes/images/24.jpg"><h3>Office</h3></div>
          <div><img src="homes/images/25.jpg"><h3>Children</h3></div>
          <div><img src="homes/images/26.jpg"><h3>Portrait</h3></div>
          <div><img src="homes/images/27.jpg"><h3>Startup</h3></div>
          <div><img src="homes/images/28.jpg"><h3>Sun</h3></div>
          <div><img src="homes/images/29.jpg"><h3>The Eiffel Tower</h3></div>
          <div><img src="homes/images/30.jpg"><h3>Water drops</h3></div>
          
    </div> 
  </figure>

</div>
<!-- content end -->
 <footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
       

    </div>    
    <div class="blog-text-center">© 2015 AllMobilize, Inc. Licensed under MIT license. Made with love By LWXYFER</div>    
  </footer>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="homes/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="homes/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="homes/assets/js/amazeui.min.js"></script>
<script src="homes/assets/js/pinto.min.js"></script>
<script src="homes/assets/js/img.js"></script>
</body>
</html>